*.DS_Store
*~

/doc/*.aux
/doc/*.bbl
/doc/*.bib
/doc/*.blg
/doc/*.brf
/doc/*.css
/doc/*.html
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.js
/doc/*.log
/doc/*.out
/doc/*.pdf
/doc/*.pnr
/doc/*.tex
/doc/*.toc
/doc/*.txt
/doc/_*.xml
/doc/manual.lab
/doc/manual.six
/doc/title.xml
/doc/sotgrps.xml

/gh-pages/
/tmp
